<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="<?php echo $this->var['const']['charset']; ?>">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<title>编辑用户</title>
<link href="<?php echo $this->var['const']['path']; ?>client/view/admin/css/form.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/pack/layer/jquery.js"></script>
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/pack/layer/layer.js"></script>
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/view/admin/js/member.js"></script>
</head>
<body>
	<div class="clearfix">
		<div class="panel-body">
			<div class="builder formbuilder-box">
				<div class="builder-tabs">
					<div class="row">
						<div class="col-xs-12">
							<ul class="nav nav-tabs">
								<li><a href="<?php echo $this->var['const']['path']; ?>index.php/admin/member">用户列表</a></li>
								<li><a href="<?php echo $this->var['const']['path']; ?>index.php/admin/member/add">新增用户</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="form-group"></div>
				<div class="builder-container">
					<div class="row">
						<div class="col-xs-12">
							<form class="form-horizontal form-builder" onsubmit="lib.edit(<?php echo $this->var['member']['id']; ?>, '<?php echo $this->var['const']['path']; ?>', '<?php echo $_COOKIE['account']; ?>');return false">
								<div class="form-type-list">
									<div class="form-group">
										<label class="left control-label">个人头像：</label>
										<div class="right">
											<img src="<?php echo $this->var['avatar']; ?>" onclick="lib.avatar(this)">
											<p><input type="checkbox" id="avatar" value="1"<?php if(!preg_match('/\?/', $this->var['avatar'])){echo ' disabled="disabled"';} ?>> 删除头像</p>
										</div>
									</div>
									<div class="form-group">
										<label class="left control-label">认证照片：</label>
										<div class="right auth-list">
											<div class="auth-item"><i><?php echo $this->var['card']('before'); ?></i></div>
											<div class="auth-item auth-margin"><i><?php echo $this->var['card']('after'); ?></i></div>
											<div class="auth-item auth-margin"><i><?php echo $this->var['card']('hand'); ?></i></div>
										</div>
									</div>
									<div class="form-group">
										<label class="left control-label">邮箱帐号：</label>
										<div class="right">
											<input class="form-control input" type="text" value="<?php echo $this->var['member']['name']; ?>" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="left control-label">个人手机：</label>
										<div class="right">
											<input class="form-control input" type="text" value="<?php echo $this->var['member']['phone']; ?>" readonly="readonly">
										</div>
									</div>
									<div class="form-group">
										<label class="left control-label">重设密码：</label>
										<div class="right">
											<input class="form-control input" type="password" name="member_pw" placeholder="不修改请留空">
										</div>
									</div>
									<div class="form-group">
										<label class="left control-label">积分余额：</label>
										<div class="right">
											<input class="form-control input" type="text" name="member_point" value="<?php echo $this->var['member']['point']; ?>">
										</div>
									</div>
									<div class="form-group">
										<label class="left control-label">认证状态：</label>
										<div class="right">
											<select class="form-control select" name="member_auth">
												<option value="0">未认证</option>
												<option value="1"<?php if($this->var['member']['auth'] == 1){echo ' selected="selected"';} ?>>已认证</option>
												<option value="2"<?php if($this->var['member']['auth'] == 2){echo ' selected="selected"';} ?>>待审核</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="left control-label">锁定状态：</label>
										<div class="right">
											<select class="form-control select" name="member_lock">
												<option value="0">未锁定</option>
												<option value="1"<?php if($this->var['member']['lock']){echo ' selected="selected"';} ?>>已锁定</option>
											</select>
										</div>
									</div>
									<div class="form-group"><hr /></div>
									<div class="form-group bottom_button_list">
										<button type="submit" class="btn btn-primary">修改</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>