<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="<?php echo $this->var['const']['charset']; ?>">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<title>基本设置</title>
<link href="<?php echo $this->var['const']['path']; ?>client/view/admin/css/form.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/pack/layer/jquery.js"></script>
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/pack/layer/layer.js"></script>
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/view/admin/js/param.js"></script>
</head>
<body>
	<div class="clearfix">
		<div class="panel-body">
			<div class="builder formbuilder-box">
				<div class="builder-tabs">
					<div class="row">
						<div class="col-xs-12">
							<ul class="nav nav-tabs">
								<li class="active"><a>基本设置</a></li>
								<li><a href="<?php echo $this->var['const']['path']; ?>index.php/admin/param/cache">缓存设置</a></li>
								<li><a href="<?php echo $this->var['const']['path']; ?>index.php/admin/param/extend">扩展设置</a></li>
								<li><a href="<?php echo $this->var['const']['path']; ?>index.php/admin/param/mail">邮件设置</a></li>
								<li><a href="<?php echo $this->var['const']['path']; ?>index.php/admin/param/shield">防控设置</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="form-group"></div>
				<div class="builder-container">
					<div class="row">
						<div class="col-xs-12">
							<form class="form-horizontal form-builder" onsubmit="lib.write('<?php echo $this->var['const']['path']; ?>', '<?php echo $_COOKIE['account']; ?>');return false">
								<div class="form-type-list">
									<div class="form-group">
										<label class="left control-label">网站标题：</label>
										<div class="right">
											<input class="form-control input" type="text" name="title" value="<?php echo $GLOBALS['param']['basic']['title']; ?>" placeholder="显示在浏览器窗口的标题栏位置">
										</div>
									</div>
									<div class="form-group">
										<label class="left control-label">关键字词：</label>
										<div class="right">
											<input class="form-control input" type="text" name="keywords" value="<?php echo $GLOBALS['param']['basic']['keywords']; ?>" placeholder="合理的词汇有利于搜索引擎优化">
										</div>
									</div>
									<div class="form-group">
										<label class="left control-label">站点描述：</label>
										<div class="right">
											<input class="form-control input" type="text" name="description" value="<?php echo $GLOBALS['param']['basic']['description']; ?>" placeholder="合理的描述有利于搜索引擎优化">
										</div>
									</div>
									<div class="form-group">
										<label class="left control-label">备案信息：</label>
										<div class="right">
											<input class="form-control input" type="text" name="icp" value="<?php echo $GLOBALS['param']['basic']['icp']; ?>" placeholder="显示在页面底部等位置">
										</div>
									</div>
									<div class="form-group">
										<label class="left control-label">统计代码：</label>
										<div class="right">
											<textarea class="form-control textarea" rows="5" name="stat" placeholder="页面底部显示的第三方统计"><?php echo $GLOBALS['param']['basic']['stat']; ?></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="left control-label">前台开关：</label>
										<div class="right">
											<div class="radio-inline lyui-control lyui-radio">
												<label for="power_on">
													<input class="radio" type="radio" onclick="lib.radio(1, 'power', 0)" id="power_on" name="power" value="1"<?php if($GLOBALS['param']['basic']['power']){echo ' checked="checked"';} ?>>
													<span class="lyui-control-indicator<?php if($GLOBALS['param']['basic']['power']){echo ' radio-checked';} ?>"></span>
													<span>开放</span>
												</label>
											</div>
											<div class="radio-inline lyui-control lyui-radio">
												<label for="power_off">
													<input class="radio" type="radio" onclick="lib.radio(0, 'power', 0)" id="power_off" name="power" value="0"<?php if(!$GLOBALS['param']['basic']['power']){echo ' checked="checked"';} ?>>
													<span class="lyui-control-indicator<?php if(!$GLOBALS['param']['basic']['power']){echo ' radio-checked';} ?>"></span>
													<span>维护</span>
												</label>
											</div>
											<div id="power"<?php if($GLOBALS['param']['basic']['power']){echo ' class="hide"';} ?>>
												<label class="control-label label-right">维护说明：</label>
												<textarea class="form-control textarea" rows="5" name="notice" placeholder="支持html标签"><?php echo $GLOBALS['param']['basic']['notice']; ?></textarea>
											</div>
										</div>
									</div>
									<div class="form-group"><hr /></div>
									<div class="form-group bottom_button_list">
										<button type="submit" class="btn btn-primary">保存</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>