<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="<?php echo $this->var['const']['charset']; ?>">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<title>应用上传</title>
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/pack/layer/jquery.js"></script>
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/pack/layer/layer.js"></script>
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/view/index/js/project.js"></script>
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/view/index/js/upload.js"></script>
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/view/index/js/console.js"></script>
<link href="<?php echo $this->var['const']['path']; ?>client/view/index/css/console.css" rel="stylesheet" type="text/css">
</head>
<body>
	<?php require $this->root.'client/view/index/htm/console_header.htm'; ?>
	<div class="pt-4 container-xl p-responsive">
		<?php require $this->root.'client/view/index/htm/console_nav.htm'; ?>
		<div class="Layout Layout--flowRow-until-md">
			<?php require $this->root.'client/view/index/htm/console_aside.htm'; ?>
			<article class="Layout-main">
				<div class="Layout-main-centered-xl">
					<div class="container-xl">
						<div class="Subhead border-bottom-0 mb-0"><h2 class="Subhead-heading Subhead-heading--large">应用上传</h2></div>
						<div class="UnderlineNav">
							<ul class="UnderlineNav-body">
								<li>
									<a href="<?php echo $this->var['const']['path']; ?>index.php/console" class="UnderlineNav-item">
										<svg width="16" height="16" viewBox="0 0 16 16" version="1.1" class="octicon">
											<path d="M1.5 3.25c0-.966.784-1.75 1.75-1.75h2.5c.966 0 1.75.784 1.75 1.75v2.5A1.75 1.75 0 0 1 5.75 7.5h-2.5A1.75 1.75 0 0 1 1.5 5.75Zm7 0c0-.966.784-1.75 1.75-1.75h2.5c.966 0 1.75.784 1.75 1.75v2.5a1.75 1.75 0 0 1-1.75 1.75h-2.5A1.75 1.75 0 0 1 8.5 5.75Zm-7 7c0-.966.784-1.75 1.75-1.75h2.5c.966 0 1.75.784 1.75 1.75v2.5a1.75 1.75 0 0 1-1.75 1.75h-2.5a1.75 1.75 0 0 1-1.75-1.75Zm7 0c0-.966.784-1.75 1.75-1.75h2.5c.966 0 1.75.784 1.75 1.75v2.5a1.75 1.75 0 0 1-1.75 1.75h-2.5a1.75 1.75 0 0 1-1.75-1.75ZM3.25 3a.25.25 0 0 0-.25.25v2.5c0 .138.112.25.25.25h2.5A.25.25 0 0 0 6 5.75v-2.5A.25.25 0 0 0 5.75 3Zm7 0a.25.25 0 0 0-.25.25v2.5c0 .138.112.25.25.25h2.5a.25.25 0 0 0 .25-.25v-2.5a.25.25 0 0 0-.25-.25Zm-7 7a.25.25 0 0 0-.25.25v2.5c0 .138.112.25.25.25h2.5a.25.25 0 0 0 .25-.25v-2.5a.25.25 0 0 0-.25-.25Zm7 0a.25.25 0 0 0-.25.25v2.5c0 .138.112.25.25.25h2.5a.25.25 0 0 0 .25-.25v-2.5a.25.25 0 0 0-.25-.25Z"></path>
										</svg>
										<span style="margin-left:5px">上传列表</span>
									</a>
								</li>
								<li>
									<a href="<?php echo $this->var['const']['path']; ?>index.php/console/upload" aria-current="page" class="UnderlineNav-item">
										<svg width="16" height="16" viewBox="0 0 16 16" version="1.1" class="octicon">
											<path d="M1 2.5A2.5 2.5 0 0 1 3.5 0h8.75a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0V1.5h-8a1 1 0 0 0-1 1v6.708A2.493 2.493 0 0 1 3.5 9h3.25a.75.75 0 0 1 0 1.5H3.5a1 1 0 0 0 0 2h5.75a.75.75 0 0 1 0 1.5H3.5A2.5 2.5 0 0 1 1 11.5Zm13.23 7.79h-.001l-1.224-1.224v6.184a.75.75 0 0 1-1.5 0V9.066L10.28 10.29a.75.75 0 0 1-1.06-1.061l2.505-2.504a.75.75 0 0 1 1.06 0L15.29 9.23a.751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018Z"></path>
										</svg>
										<span style="margin-left:5px;font-weight:600">发布上传</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="box upload" data-path="<?php echo $this->var['const']['path']; ?>" data-token="<?php echo $_COOKIE['member']; ?>" data-id="0">
							<input type="file" id="upload" class="hide">
							<div class="box-body" onclick="$('#upload').click()">
								<div class="blankslate-container" style="height:270px">
									<div class="blankslate">
										<svg width="40" height="40" viewBox="0 0 24 24" version="1.1" class="spinner hide" style="margin-left:12px">
											<circle cx="8" cy="8" r="7" stroke="currentColor" stroke-opacity="0.25" stroke-width="2"></circle>
											<path d="M15 8a7.002 7.002 0 00-7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
										</svg>
										<svg width="40" height="40" viewBox="0 0 24 24" version="1.1" class="octicon" style="margin-left:12px">
											<path d="M2.75 14A1.75 1.75 0 0 1 1 12.25v-2.5a.75.75 0 0 1 1.5 0v2.5c0 .138.112.25.25.25h10.5a.25.25 0 0 0 .25-.25v-2.5a.75.75 0 0 1 1.5 0v2.5A1.75 1.75 0 0 1 13.25 14Z"></path>
											<path d="M11.78 4.72a.749.749 0 1 1-1.06 1.06L8.75 3.811V9.5a.75.75 0 0 1-1.5 0V3.811L5.28 5.78a.749.749 0 1 1-1.06-1.06l3.25-3.25a.749.749 0 0 1 1.06 0l3.25 3.25Z"></path>
										</svg>
										<h2 class="blankslate-heading">点击上传</h2>
										<p>拖拽到这里上传{apk,ipa}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
	<?php require $this->root.'client/view/index/htm/console_footer.htm'; ?>
</body>
</html>