<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="<?php echo $this->var['const']['charset']; ?>">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<title>安装向导</title>
<link href="<?php echo $this->var['const']['path']; ?>client/view/install/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<div class="logo">
			<h1>
				<svg width="80" height="96" viewBox="0 0 768 830" version="1.1">
					<path d="M64.433651,605.899968 C20.067302,536.265612 0,469.698785 0,389.731348 C0,174.488668 171.922656,0 384,0 C596.077344,0 768,174.488668 768,389.731348 C768,469.698785 747.932698,536.265612 703.566349,605.899968 C614.4,753.480595 441.6,870.4 384,870.4 C326.4,870.4 153.6,753.480595 64.433651,605.899968 L64.433651,605.899968 Z" fill="#4e73df"></path>
					<path d="M429.648991,190.816 L430.160991,190.816 L429.648991,190.816 L429.648991,190.816 Z M429.648991,156 L427.088991,156 C419.408991,157.024 411.728991,160.608 404.560991,168.8 L403.024991,170.848 L206.928991,429.92 C198.736991,441.184 197.712991,453.984 204.368991,466.784 C210.512991,478.048 222.288991,485.728 235.600991,485.728 L336.464991,486.24 L304.208991,673.632 C301.648991,689.504 310.352991,705.376 325.200991,712.032 C329.808991,714.08 334.416991,714.592 339.536991,714.592 C349.776991,714.592 358.992991,709.472 366.160991,700.256 L561.744991,419.168 C569.936991,407.904 570.960991,395.104 564.304991,382.304 C557.648991,369.504 547.408991,363.36 533.072991,363.36 L432.208991,363.36 L463.952991,199.008 C464.464991,196.448 464.976991,193.376 464.976991,190.816 C464.976991,171.872 449.104991,156 431.184991,156 L429.648991,156 L429.648991,156 Z" fill="#fff"></path>
				</svg>
			</h1>
			<h2><?php echo $this->var['const']['name']; ?></h2>
		</div>
	</div>
	<div class="container">
		<ul class="progressbar">
			<li class="active" style="width:20%">阅读协议</li>
			<li style="width:20%">系统检测</li>
			<li style="width:20%">创建数据</li>
			<li style="width:20%">建立帐号</li>
			<li style="width:20%">安装完成</li>
		</ul>
	</div>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="license"><strong>产品授权协议</strong></h3>
				<p>版权所有 (c) <?php echo date('Y'); ?>，<?php echo $this->var['const']['name']; ?>保留所有权利。</p>
				<p>感谢您选择<?php echo $this->var['const']['name']; ?>（<?php echo 'version '.$this->var['const']['version'].' build '.$this->var['const']['build']; ?>），希望我们的产品能为您提供一个高效快速、轻量级且强大的开发框架与站点解决方案！开发商官方网址为 http://<?php echo $this->var['const']['site']; ?>。</p>
				<p>用户须知：本协议是您与开发商之间关于您使用开发商提供的各种软件产品及服务的法律协议。无论您是个人或组织、盈利与否、用途如何（包括以学习和研究为目的），均需仔细阅读本协议，包括免除或者限制开发商责任的免责条款及对您的权利限制。请您审阅并接受或不接受本服务条款。如您不同意本服务条款及/或开发商随时对其的修改，您应不使用或主动取消开发商提供的产品。否则，您的任何对开发商提供的产品中的相关服务的注册、登陆、下载、查看等使用行为将被视为您对本服务条款全部的完全接受，包括接受开发商对服务条款随时所做的任何修改。</p>
				<p>本服务条款一旦发生变更，开发商将在官方网址公布修改内容。修改后的服务条款一旦在官方网址公布即有效代替原来的服务条款，您可随时登陆开发商官方网址查阅最新版服务条款。如果您选择接受本条款，即表示您同意接受协议各项条件的约束。如果您不同意本服务条款，则不能获得使用本服务的权利。您若有违反本条款规定，开发商有权随时中止或终止您对本软件的使用资格并保留追究相关法律责任的权利。</p>
				<p>在理解、同意、并遵守本协议的全部条款后，方可开始使用本软件。您可能与开发商直接签订另一书面协议，以补充或者取代本协议的全部或者任何部分。</p>
				<p>开发商拥有本软件的全部知识产权。本软件只供许可协议，并非出售。开发商只允许您在遵守本协议各项条款的情况下复制、下载、安装、使用或者以其他方式受益于本软件的功能或者知识产权。</p>
				<p><strong>I. 协议许可的权利</strong></p>
				<p>1. 您可以在完全遵守本许可协议的基础上，将本软件应用于非商业用途，而不必支付软件版权许可费用。</p>
				<p>2. 您可以在协议规定的约束和限制范围内修改本软件源代码（如果被提供的话）或界面风格以适应您的网站要求。</p>
				<p>3. 您拥有使用本软件构建的网站中全部会员资料及相关信息的所有权，并独立承担与使用本软件构建的网站内容的审核、注意义务，确保其不侵犯任何人的合法权益，独立承担因使用本软件和服务带来的全部责任，若造成开发商或用户损失的，您应予以全部赔偿。</p>
				<p>4. 若您需将本软件从事营利活动，必须另行获得开发商的书面许可，您在获得商业授权之后，您可以将本软件应用于商业用途，同时依据所购买的授权类型中确定的技术支持期限、技术支持方式和技术支持内容，自购买时刻起，在技术支持期限内拥有通过指定的方式获得指定范围内的技术支持服务。商业授权用户享有反映和提出意见的权力，相关意见将被作为首要考虑，但没有一定被采纳的承诺或保证。</p>
				<p>5. 您可以从开发商提供的应用中心服务中下载适合您网站的应用程序，但应向应用程序开发者/所有者支付相应的费用。</p>
				<p><strong>II. 协议规定的约束和限制</strong></p>
				<p>1. 未获开发商书面商业授权之前，不得将本软件用于商业用途（包括但不限于企业网站、经营性网站、以营利为目的或实现盈利的网站）。购买商业授权请登陆开发商官方网址参考相关说明。</p>
				<p>2. 不得对本软件或与之关联的商业授权进行出租、出售、抵押或发放子许可证。</p>
				<p>3. 无论如何，即无论用途如何、是否经过修改或美化、修改程度如何，只要使用本软件的整体或任何部分，未经书面许可，页面页脚处的开发商名称和开发商官方网址的链接都必须保留，而不能清除或修改。</p>
				<p>4. 禁止在本软件的整体或任何部分基础上以发展任何派生版本、修改版本或第三方版本用于重新分发。</p>
				<p>5. 您从应用中心下载的应用程序，未经应用程序开发者/所有者的书面许可，不得对其进行反向工程、反向汇编、反向编译等，不得擅自复制、修改、链接、转载、汇编、发表、出版、发展与之有关的衍生产品、作品等。</p>
				<p>6. 如果您未能遵守本协议的条款，您的授权将被终止，所许可的权利将被收回，同时您应承担相应法律责任。</p>
				<p><strong>III. 有限担保和免责声明</strong></p>
				<p>1. 本软件及所附带的文件是作为不提供任何明确的或隐含的赔偿或担保的形式提供的。</p>
				<p>2. 用户出于自愿而使用本软件，您必须了解使用本软件的风险，在尚未购买产品技术服务之前，我们不承诺提供任何形式的技术支持、使用担保，也不承担任何因使用本软件而产生问题的相关责任。</p>
				<p>3. 开发商不对使用本软件构建的网站中的信息承担责任，全部责任由您自行承担。</p>
				<p>4. 开发商无法全面监控由第三方上传至应用中心的应用程序，因此不保证应用程序的合法性、安全性、完整性、真实性或品质等。您从应用中心下载应用程序时，同意自行判断并承担所有风险，而不依赖于开发商。但在任何情况下，开发商有权依法停止应用中心服务并采取相应行动，包括但不限于对于相关应用程序进行卸载，暂停服务的全部或部分，保存有关记录，并向有关机关报告。由此对您及第三人可能造成的损失，开发商不承担任何直接、间接或者连带的责任。</p>
				<p>5. 开发商对其所提供的软件和服务之及时性、安全性、准确性不作担保，由于不可抗力因素、开发商无法控制的因素（包括黑客攻击、停断电等）等造成软件使用和服务中止或终止，而给您造成损失的，您同意放弃追究开发商责任的全部权利。</p>
				<p>6. 开发商特别提请您注意，开发商为了保障其业务的发展和调整的自主权，开发商拥有随时经或未经事先通知而修改服务内容、中止或终止部分或全部软件使用和服务的权利，修改会公布于开发商官方网址的相关页面上，一经公布视为通知。开发商行使修改或中止、终止部分或全部软件使用和服务的权利而造成损失的，开发商不需对您或任何第三方负责。</p>
				<p>有关本软件最终用户授权协议、商业授权与技术服务的详细内容，均由开发商独家提供。开发商拥有在不事先通知的情况下，修改授权协议和服务价目表的权利，修改后的协议或价目表对自改变之日起的新授权用户生效。</p>
				<p>一旦您开始安装本软件，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权利的同时，受到相关的约束和限制。协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止授权，责令停止损害，并保留追究相关责任的权力。</p>
				<p>本许可协议条款的解释、效力及纠纷的解决，适用于中华人民共和国大陆法律。</p>
				<p>若您和开发商之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，您在此完全同意将纠纷或争议提交至开发商所在地人民法院管辖。开发商拥有对以上各项条款内容的解释权及修改权。</p>
				<p>（正文完）</p>
				<p align="right"><?php echo $this->var['const']['name']; ?></p>
			</div>
		</div>
		<p class="button">
			<button type="button" class="button-prev" onclick="location.href='about:blank';window.close()">不同意</button>
			<button type="button" class="button-next" onclick="location.href='<?php echo $this->var['const']['path']; ?>index.php/install/check'">同意并安装</button>
		</p>
	</div>
	<div class="container">
		<div class="copyright">Copyright &copy; <?php echo date('Y'); ?> <a href="http://<?php echo $this->var['const']['site']; ?>" target="_blank"><?php echo $this->var['const']['site']; ?></a> All Rights Reserved</div>
	</div>
</body>
</html>